<ion-view title="Shopping list">
  <ion-content class="padding">
    <div class="bar bar-header item-input-inset large-header">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-flag-outline placeholder-icon" style="font-size: 1.5em;"></i>
        <input type="text" style="height: 1.5em; font-size: 1.5em; line-height: 1.5em;" placeholder="Shopping list item" ng-model="newItemInput.value" ng-change="change()" isFocused="true">
      </label>
      <button class="button button-positive" ng-click="addItem()">
        Add
      </button>
    </div>
    <ion-list>
      <ion-item ng-repeat="d in listData" class="slide-in-left" style="padding-top: 10px; padding-bottom: 10px;">
        <div  ng-click="toggle.state = !toggle.state" ng-class="{'itemSelected' : toggle.state}">
 
            <div class="row">
              <div class="col col-10 col-center itemtext">{{ d.amount }}</div>
              <div class="col col-33"><button class="button button-icon icon ion-ios7-plus-outline" ng-click="increaseAmount(d, $event)"></button><button class="button button-icon icon ion-ios7-minus-outline" ng-click="decreaseAmount(d, $event)"></button></div>
              <div class="col col-50 col-center itemtext">{{ d.type }}</div>
            </div>
        </div>
          
          
      </ion-item>
    </ion-list>
    <div class="row" ng-show="listData.length > 0">
        <div class="col col-50"><button class="button button-full button-positive" ng-click="save()">Save</button></div>
        <div class="col col-50"><button class="button button-full button-energized" ng-click="empty()">Clear</button></div>
    </div>

  </ion-content>
</ion-view>
