<ion-view title="Saved lists">
  <ion-content class="padding">
    
    <div class=" ">
        <div class="card" ng-repeat="a in lists">
            <div class="item item-divider">
                {{a.listName}}
            </div>
            <div class="item-text-wrap">
                <ul>
                    <li class="item" ng-repeat="i in a.listData">
                        {{i.type}}
                    </li>                    
                </ul>
            </div>
            <a class="item item-icon-left assertive" href ng-click="activate(a)">
            <i class="icon ion-ios7-upload-outline"></i>
                Activate
            </a>       
        </div>               
    
    </div>
  </ion-content>
</ion-view>
