<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top fade-in">


  <!-- Dashboard Tab -->
  <ion-tab title="Shopping list" icon="icon ion-ios7-cart" href="#/tab/active">
    <ion-nav-view name="tab-active"></ion-nav-view>
  </ion-tab>


  <!-- Friends Tab -->
  <ion-tab title="Saved lists" icon="icon ion-bookmark" href="#/tab/saved">
    <ion-nav-view name="tab-saved"></ion-nav-view>
  </ion-tab>



</ion-tabs>
