/* Empty. Add your own CSS if you like */

.itemSelected .itemtext
{
    color: red;
    opacity: 0.2;
}

.itemSelected button
{
    color: red;
    opacity: 0.2;
}

.large-header
{
    height: 54px;
}

